[package]
name = "syn"
version = "0.12.15" # don't forget to update html_root_url
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Nom parser for Rust source code"
repository = "https://github.com/dtolnay/syn"
documentation = "https://docs.rs/syn"
categories = ["development-tools::procedural-macro-helpers"]
include = ["/Cargo.toml", "/src/**/*.rs", "/README.md", "/LICENSE-APACHE", "/LICENSE-MIT"]

[[example]]
name = "dump-syntax"
path = "examples/dump-syntax/main.rs"
required-features = ["full", "parsing", "extra-traits"]

[features]
default = ["derive", "parsing", "printing", "clone-impls"]
derive = []
full = []
parsing = []
printing = ["quote"]
visit = []
visit-mut = []
fold = []
clone-impls = []
extra-traits = []

[dependencies]
proc-macro2 = "0.3"
#quote = { version = "0.5", optional = true }
quote = { git = 'https://github.com/dtolnay/quote', optional = true }
unicode-xid = "0.1"

[dev-dependencies]
rayon = "1.0.0"
walkdir = "2"

[package.metadata.docs.rs]
all-features = true
